In [1]:
!pip install mysql-connector-python
!pip install pandas

Requirement already satisfied: mysql-connector-python in c:\users\user\.anaconda2\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\user\.anaconda2\lib\site-packages (from mysql-connector-python) (3.19.1)
Requirement already satisfied: pandas in c:\users\user\.anaconda2\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\user\.anaconda2\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\.anaconda2\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\.anaconda2\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\.anaconda2\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [1]:
import pandas as pd     # You will learn this library in DADS5001
import csv
import mysql.connector
from getpass import getpass 

user = input('Username: ')
pwd = getpass('Password: ')

Username: root
Password: ········

In [2]:
#Freshy_Program

def Freshy_Program():
    while True:
        print('\n===== Search =====')
        print('Select Search')
        print('\t 1 = Search by Product_Id')
        print('\t 2 = Search by Model')
        search = input("\nInput number: ")
        my_cursor = my_db.cursor()
        if search == "1":

            # Create a string of MySQL command
            product = input("product_id: ")
            sql_command = f'''select * 
                        from product
                        join brand
                        on product.brand_id = brand.no
                        join subcategory
                        on product.sub_id=subcategory.sub_id
                        where product_id = '{product}';'''


            df = pd.read_sql(sql_command, my_db)
            print("\n===== df =====")
            _ = display(df)
        elif search == '2':
            Model = input("model: ")
            sql_command = f'''select * 
                        from product
                        join brand
                        on product.brand_id = brand.no
                        join subcategory
                        on product.sub_id=subcategory.sub_id
                        where model = '{Model}';'''


            df = pd.read_sql(sql_command, my_db)
            print("\n===== df =====")
            _ = display(df)
            
        else:
            print('\t\tsomething went wrong... change your input.')
            continue
        What_Next = input('\tMake another search (Y/N)? : ').lower()
        if What_Next == 'y':
            continue
        elif What_Next == 'n':
            break
        else:
            print('\t\tsomething went wrong... automatically back to MENU.')
            break

In [3]:
#Meen_Program

def Meen_Program():
    while True:
        my_cursor = my_db.cursor()

        # Create a string of MySQL commands
        sql_commands = Query_command()

        df = pd.read_sql(sql_commands, my_db)
        print("\n===== df =====")
        _ = display(df)

        if Export_Command == True:  
            # Execute one SQL command
            my_cursor.execute( sql_commands )

            # Get query results
            with open('ExportToCSV.csv',mode='w',encoding='utf-8',newline='') as f:
                f2 = csv.writer(f,delimiter=',')
                Export_Convert = []
                for i in Column_Want:
                    if i == 'c1' :
                        Export_Convert.append('product_id')
                    elif i == 'c2' :
                        Export_Convert.append('model')
                    elif i == 'c3' :
                        Export_Convert.append('name')
                    elif i == 'c4' :
                        Export_Convert.append('sub_id')
                    elif i == 'c5' :
                        Export_Convert.append('subcategory')
                    elif i == 'c6' :
                        Export_Convert.append('current_price')
                    elif i == 'c7' :
                        Export_Convert.append('raw_price')
                    elif i == 'c8' :
                        Export_Convert.append('currency')
                    elif i == 'c9' :
                        Export_Convert.append('discount')
                    elif i == 'c10' :
                        Export_Convert.append('likes_count')
                    elif i == 'c11' :
                        Export_Convert.append('is_new')
                    elif i == 'c12' :
                        Export_Convert.append('brand_id')
                    elif i == 'c13' :
                        Export_Convert.append('brand')
                    elif i == 'c14' :
                        Export_Convert.append('codCountry')
                    elif i == '*' :
                        Export_Convert.append('product_id')
                        Export_Convert.append('model')
                        Export_Convert.append('name')
                        Export_Convert.append('sub_id')
                        Export_Convert.append('subcategory')
                        Export_Convert.append('current_price')
                        Export_Convert.append('raw_price')
                        Export_Convert.append('currency')
                        Export_Convert.append('discount')
                        Export_Convert.append('likes_count')
                        Export_Convert.append('is_new')
                        Export_Convert.append('brand_id')
                        Export_Convert.append('brand')
                        Export_Convert.append('codCountry')
                        break
                f2.writerow(Export_Convert)
                for x in my_cursor.fetchall():
                    f2.writerow(x)
        What_Next = input('\tMake another table (Y/N)? : ').lower()
        if What_Next == 'y':
            continue
        elif What_Next == 'n':
            break
        else:
            print('\t\tsomething went wrong... automatically back to MENU.')
            break

            
            
def Query_command():
    
    #Column_Want
    print('\n===== Advanced Search =====')
    print('\nWhat Column do you want?')
    print('\t C1 = product_id \n\t C2 = model \n\t C3 = name \n\t C4 = sub_id \n\t C5 = subcategory \n\t C6 = current_price \n\t C7 = raw_price \n\t C8 = currency \n\t C9 = discount \n\tC10 = likes_count \n\tC11 = is_new \n\tC12 = brand_id \n\tC13 = brand \n\tC14 = codCountry ')
    global Column_Want
    while True:
        Column_Want = input('\tInput columns (seperated by comma , * = choose all columns): ').lower()
        Column_Want = Column_Want.split(',')
        Column_Command = Column_Convertion(Column_Want)
        if Column_Command != False:
            break

    
    
    #Row_Want
    print('\nWhat Row do you want?')
    while True:
        Row_Command = input('\tInput number (* = choose all rows): ')
        if Row_Command != '*':
            try:
                Row_Command = int(Row_Command)
                Row_Command = str(Row_Command)
                break
            except:
                print('\t\tsomething went wrong... change your input.')
                continue
        break

    
    
    #Condition_Want
    print('\nAdd conditions?')
    print('\t W = WHERE \n\t G = GROUP BY \n\t O = ORDER BY \n\t E = Export to CSV \n\t N = No add ')
    WHERE_Command = [' WHERE ']
    GROUP_Command = [' GROUP BY ']
    ORDER_Command = [' ORDER BY ']
    Condition_Want = input('\tInput condition: ').lower()
    while True:    
        global Export_Command

        #WHERE_Want
        if Condition_Want == 'w':
            WHERE_Command = [' WHERE ']
            WHERE_Want = input('\tInput WHERE condition (Ex. C6 < 25): ').lower()
            WHERE_Want = Column_Check(WHERE_Want)    
            for i in WHERE_Want:
                WHERE_Command.append(i)
            WHERE_Command = (''.join(WHERE_Command))
            print('\t\tConfirm WHERE condition.')
            print()
            Condition_Want = input('\tInput another condition or change previous condition: ').lower()
            continue

        
        #GROUP_Want
        elif Condition_Want == 'g':
            GROUP_Command = [' GROUP BY ']
            GROUP_Want = input('\tInput GROUP BY condition (Ex. C4): ').lower()
            GROUP_Want = Column_Check(GROUP_Want)
            for i in GROUP_Want:
                GROUP_Command.append(i)
            GROUP_Command = (''.join(GROUP_Command))
            print('\t\tConfirm GROUP BY condition.')
            print()
            Condition_Want = input('\tInput another condition or change previous condition: ').lower()
            continue
            

        #ORDER_Want
        elif Condition_Want == 'o':
            ORDER_Command = [' ORDER BY ']
            ORDER_Want = input('\tInput ORDER BY condition (Ex. C1, C10 DESC): ').lower()
            ORDER_Want = Column_Check(ORDER_Want)
            for i in ORDER_Want:
                ORDER_Command.append(i)
            ORDER_Command = (''.join(ORDER_Command))
            print('\t\tConfirm ORDER BY condition.')
            print()
            Condition_Want = input('\tInput another condition or change previous condition: ').lower()
            continue

            
       #Export_Want
        elif Condition_Want == 'e':
            Export_Command = True
            print('\t\tConfirm exporting to CSV.')
            print()
            Condition_Want = input('\tInput another condition or change previous condition: ').lower()
            continue

            
        #No_Add
        elif Condition_Want == 'n':
            break
            
            
        #Error Detect
        else:
            print('\t\tsomething went wrong... change your input.')
            Condition_Want = input('\tInput another condition or change previous condition: ').lower()
            continue
        
        
        
    #Generated_Command
    Generated_Command = ["SELECT"]
    Generated_Command.append(Column_Command)
    Generated_Command.append("FROM product JOIN brand ON product.brand_id=brand.No JOIN price ON product.product_id=price.product_id JOIN subcategory ON product.sub_id=subcategory.sub_id")
    if (WHERE_Command != [' WHERE ']):
        Generated_Command.append(WHERE_Command)
    if (GROUP_Command != [' GROUP BY ']):
        Generated_Command.append(GROUP_Command)
    if (ORDER_Command != [' ORDER BY ']):
        Generated_Command.append(ORDER_Command)
    if (Row_Command != '*'):
        Generated_Command.append("LIMIT")
        Generated_Command.append(Row_Command)
    Generated_Command.append(";")
    Generated_Command = ' '.join(Generated_Command)

    #print()
    #print(Generated_Command)
    
    return Generated_Command



def Column_Convertion(Want):
    Convert = []
    for i in Want:
        if i == 'c1' :
            Convert.append('product.product_id')
        elif i == 'c2' :
            Convert.append('product.model')
        elif i == 'c3' :
            Convert.append('product.name')
        elif i == 'c4' :
            Convert.append('product.sub_id')
        elif i == 'c5' :
            Convert.append('subcategory.subcategory')
        elif i == 'c6' :
            Convert.append('price.current_price')
        elif i == 'c7' :
            Convert.append('price.raw_price')
        elif i == 'c8' :
            Convert.append('price.currency')
        elif i == 'c9' :
            Convert.append('price.discount')
        elif i == 'c10' :
            Convert.append('product.likes_count')
        elif i == 'c11' :
            Convert.append('product.is_new')
        elif i == 'c12' :
            Convert.append('product.brand_id')
        elif i == 'c13' :
            Convert.append('brand.brand')
        elif i == 'c14' :
            Convert.append('product.codCountry')
        elif i == '*' :
            Convert.append('product.product_id')
            Convert.append('product.model')
            Convert.append('product.name')
            Convert.append('product.sub_id')
            Convert.append('subcategory.subcategory')
            Convert.append('price.current_price')
            Convert.append('price.raw_price')
            Convert.append('price.currency')
            Convert.append('price.discount')
            Convert.append('product.likes_count')
            Convert.append('product.is_new')
            Convert.append('product.brand_id')
            Convert.append('brand.brand')
            Convert.append('product.codCountry')
            break
        else:
            print('\t\tsomething went wrong... change your input.')
            Convert = False
            return Convert
    Convert = ','.join(Convert)
    return Convert



def Column_Check (Want):
    Check = list(Want)
    lst = []
    for i in range(len(Check)):
        if(Check[i] == 'c') and (i != len(Check)-1):
            if (Check[i+1] in ['1','2','3','4','5','6','7','8','9']):
                if (i != len(Check)-2) and (Check[i+2] in ['1','2','3','4','5','9','0']):
                    lst.append('c'+ Check[i+1] + Check[i+2])
                    Check[i] = ' ' + Column_Convertion(lst) + ' '
                    Check[i+1] = 'DUMMY'
                    Check[i+2] = 'DUMMY'
                    lst = []
                    continue
                lst.append('c'+ Check[i+1])
                Check[i] = ' ' + Column_Convertion(lst) + ' '
                Check[i+1] = 'DUMMY'
                lst = []
    Check = [x for x in Check if x != 'DUMMY']
    return Check

In [4]:
#Nine_Program_Analytic

def Nine_Program_Analytic():
    my_cursor = my_db.cursor()
    
    # Create strings of MySQL commands
    sql_command1 = '''select product.product_id, name, likes_count, current_price
                        from product
                            join price
                            on product.product_id = price.product_id
                        order by likes_count desc limit 0,5'''
    sql_command2 = '''select product.product_id, name, likes_count, current_price
                        from product
                            join price
                            on product.product_id = price.product_id
                        order by likes_count limit 0,5'''
    sql_command3 = '''select product.product_id, name, likes_count, current_price
                        from product
                            join price
                            on product.product_id = price.product_id
                        order by current_price desc limit 0,5;'''
    sql_command4 = '''select product.product_id, name, likes_count, current_price
                        from product
                            join price
                            on product.product_id = price.product_id
                        order by current_price limit 0,5;'''
    sql_command5 = '''select product.product_id, name, likes_count, current_price, discount
                        from product
                            join price
                            on product.product_id = price.product_id
                        order by discount desc limit 0,5;'''
    sql_command6 = '''select product.product_id, name, likes_count, current_price, discount
                        from product
                            join price
                            on product.product_id = price.product_id
                        order by discount limit 0,5;'''
   
    print('\n===== Analytics =====')
    while True:
        infor = input('\n\t 1 - max likes_count \n\t 2 - min likes_count \n\t 3 - max price\n\t 4 - min price\n\t 5 - max discount\n\t 6 - min discount\n\t00 - out\n\tWhat do you want to know? : ')
        print()
        if infor == '1':
            print( '\n===== Top 5 highest likes =====' )
            df = pd.read_sql(sql_command1, my_db)
            _ = display(df)
        elif infor == '2':
            print( '\n===== Top 5 lowest likes =====' )
            df = pd.read_sql(sql_command2, my_db)
            _ = display(df) 
        elif infor == '3':
            print( '\n===== Top 5 Highest Prices =====' )
            df = pd.read_sql(sql_command3, my_db)
            _ = display(df)  
        elif infor == '4':
            print( '\n===== Top 5 Lowest Prices =====' )
            df = pd.read_sql(sql_command4, my_db)
            _ = display(df)  
        elif infor == '5':
            print( '\n===== Top 5 Highest Discount =====' )
            df = pd.read_sql(sql_command5, my_db)
            _ = display(df)  
        elif infor == '6':
            print( '\n===== Top 5 Lowest Discount =====' )
            df = pd.read_sql(sql_command6, my_db)
            _ = display(df)  
        elif infor == '00':
            print()
            break

In [5]:
#Nine_Program_Insert

def Nine_Program_Insert():
    my_cursor = my_db.cursor()
    
    print()
    print('=====Insert new product=====')
    pd_id = input('\tproduct_id = ')
    cr_p = float(input('\tcurrent_price = '))
    r_p = float(input('\traw_price = '))
    dc = int(input('\tdiscount = ')) 
    pd_n = input('\tproduct name = ') 
    pd_m = input('\tmodel = ') 
    l_c = int(input('\tlikes_count = '))
    i_n = input('\tis_new = ') 
    b_id = input('\tbrand_id = ') 
    s_id = input('\tsub_id = ') 
    
    sql_command_insert_price = f"""insert into price (product_id, current_price, raw_price, currency, discount)
                                    VALUES (%s,%s,%s,%s,%s)"""
    value1 = ( pd_id, cr_p, r_p, 'USD', dc )
    
    sql_command_insert_product = f"""insert into product (product_id, name, model, likes_count, is_new, brand_id, sub_id)
                                    value (%s,%s,%s,%s,%s,%s,%s)"""
    value2 = ( pd_id, pd_n, pd_m, l_c, i_n, b_id, s_id )
    
    #insert = input(f'\nDo you insert new data ({pd_id}, {cr_p}, {r_p}, {dc}, {pd_n}, {pd_m}, {l_c}, {i_n}, {b_id}, {s_id})? (y/n) : ')
    
    insert = input(f'\
    \n\tConfirm your new data \
    \n\t\t   product_id = {pd_id}\
    \n\t\tcurrent_price = {cr_p} \
    \n\t\t    raw_price = {r_p}\
    \n\t\t     discount = {dc}\
    \n\t\t product name = {pd_n}\
    \n\t\t        model = {pd_m}\
    \n\t\t  likes_count = {l_c}\
    \n\t\t       is_new = {i_n}\
    \n\t\t     brand_id = {b_id}\
    \n\t\t       sub_id = {s_id}\
    \n\t\tConfirm? (Y/N): ')
    
    if insert == 'y' or insert == 'Y':
        my_cursor.execute( sql_command_insert_price, value1)
        my_db.commit()
        my_cursor.execute( sql_command_insert_product, value2)
        my_db.commit()
        print('Successfully inserted data to the database.')
    elif insert == 'n' or insert == 'N':
        print('Go back to MENU.')
    else:
        print('\t\tsomething went wrong... automatically back to MENU.')

In [6]:
#Nine_Program_Delete

def Nine_Program_Delete():
    my_cursor = my_db.cursor()
    
    print('\n=====Delete product=====')
    dl_pd_id = input('product_id to delete : ')
    sql_command_delete = f'SELECT product.product_id, \
                            product.model, \
                            product.name, \
                            product.sub_id, \
                            subcategory.subcategory, \
                            price.current_price, \
                            price.raw_price, \
                            price.currency, \
                            price.discount, \
                            product.likes_count, \
                            product.is_new, \
                            product.brand_id, \
                            brand.brand, \
                            product.codCountry \
                            FROM product  \
                            JOIN brand \
                            ON product.brand_id = brand.No \
                            JOIN price \
                            ON product.product_id = price.product_id \
                            JOIN subcategory \
                            ON product.sub_id = subcategory.sub_id \
                            WHERE product.product_id = {dl_pd_id};'
    df = pd.read_sql(sql_command_delete, my_db)
    print("\n===== df =====")
    _ = display(df)
    
    insert = input('Confirm your delete data (Y/N):')
    
    if insert == 'y' or insert == 'Y':
    
        sql_command_delete_product = f"""delete from product
                                            where product_id = {dl_pd_id}"""
        my_cursor.execute( sql_command_delete_product)
        my_db.commit()
        
        sql_command_delete_price = f"""delete from price
                                            where product_id = {dl_pd_id}"""
        my_cursor.execute( sql_command_delete_price)
        my_db.commit()
        print('Successfully deleted data from the database.')
    elif insert == 'n' or insert == 'N':
        print('Go back to MENU.')
    else:
        print('\t\tsomething went wrong... automatically back to MENU.')

In [7]:
#Insight

def Insight():
    my_cursor = my_db.cursor()
    print('\n===== Insight =====')
    while True:
        
        print('\t 1 = Max Likes vs Subcategory')
        print('\t 2 = Like_Count and Discount Analytic')
        print('\t 3 = Max Likes VS Country')
        print('\t00 = Back to MENU')
        Insight_Select = input('\tInput number: ')
        if Insight_Select == '1':
            Freshy_Insight()
        elif Insight_Select == '2':
            Meen_Insight()
        elif Insight_Select == '3':
            Nine_Insight()
        elif Insight_Select == '00':
            break
        else:
            print('\t\tsomething went wrong... change your input.')
        print('\nAnother Insight?')
    
    
    
def Meen_Insight():
    my_cursor = my_db.cursor()
    print( '\n\t-------------- Like_Count and Discount Analytic --------------' )
    
    # Create a string of MySQL commands
    sql_commands = '''SELECT product.product_id, product.name, product.likes_count, product.is_new, price.* FROM product JOIN price ON product.product_id = price.product_id WHERE product.likes_count > 1000 OR product.is_new = "TRUE" ORDER BY product.likes_count DESC;'''
    df = pd.read_sql(sql_commands, my_db)
    print("\n==== df ====")
    _ = display(df)
    
    print('\nCHANGE discount recommentation')
    print('\n\trow 0, product_id = 1164687, likes_count = 6962, is_new = FALSE, CHANGE discount 43 ---> 40')
    print('\trow 1, product_id = 1173242, likes_count = 1712, is_new = FALSE, CHANGE discount 47 ---> 43')
    print('\trow 2, product_id =  982921, likes_count = 1501, is_new = FALSE, CHANGE discount 43 ---> 40')
    print('\trow 3, product_id = 1643183, likes_count = 1392, is_new = FALSE, CHANGE discount 53 ---> 50')
    print('\trow 5, product_id = 1337181, likes_count = 1137, is_new = FALSE, CHANGE discount 47 ---> 43')
    print()
    print('\trow 6, product_id = 1719388, likes_count =    4, is_new =  TRUE, CHANGE discount 50 ---> 53')
    
    
    
def Nine_Insight():
    print()
    print('\n\t-------------- Max Likes VS Country -------------')
    my_cursor = my_db.cursor()
    
    sql_command = '''select product.product_id, name, likes_count, codCountry
                        from product
                        order by likes_count desc limit 0,5'''
        
    df = pd.read_sql(sql_command, my_db)
    print("\n==== df ====")
    _ = display(df)
    
    print()
    
    while True:
        contry = input('\tWhich countries are not sold yet? : ')
        if contry == '00':
            break
        sql_command = f"""select count(codCountry)
                            from product
                            where codCountry not regexp '{contry}'"""
        my_cursor.execute( sql_command )

        for x in my_cursor.fetchall():
            print( x )
            
        show = input('show ? (y/n) : ')
        if show == 'y' or show == 'Y':
            sql_command = f"""select product_id, name, codCountry
                                from product
                                where codCountry not regexp '{contry}'"""
            df = pd.read_sql(sql_command, my_db)
            print("\n==== df ====")
            _ = display(df)
            print()

            
            
def Freshy_Insight():
    print()
    print('-------------- Max Likes vs Subcategory -------------')
    my_cursor = my_db.cursor()
    
    sql_command = '''select *
                        from subcategory
                        join product
                        on product.sub_id = subcategory.sub_id
                        order by likes_count desc limit 0,5'''

    df = pd.read_sql(sql_command, my_db)
    print("\n==== df ====")
    _ = display(df)

In [ ]:
my_db = None
try:
    my_db = mysql.connector.connect( host='localhost',
                                                       user=user,
                                                       password=pwd,
                                                       database='python' )
    print('Successfully connected to the database.')
    
    while True:
        print('\n===== MENU =====')
        print('Select MENU')
        print('\t 1 = Search')
        print('\t 2 = Advanced Search')
        print('\t 3 = Insert Data')
        print('\t 4 = Delete Data')
        print('\t 5 = Analytic')
        print('\t 6 = Insight')
        print('\t00 = Log out')
        MENU_Select = input('\nInput number: ')

        if MENU_Select == '1':
            Freshy_Program()

        elif MENU_Select == '2':
            Export_Command = False
            Column_Want = ''
            Meen_Program()

        elif MENU_Select == '3':
            Nine_Program_Insert()
            
        elif MENU_Select == '4':
            Nine_Program_Delete()

        elif MENU_Select == '5':
            Nine_Program_Analytic()

        elif MENU_Select == '6':
            Insight()

        elif MENU_Select == '00':
            break

        else:
            print('\t\tsomething went wrong... change your input.')
    
except Exception as e:
    print('Something went wrong while attempting to connect the database.')
    if my_db is not None: my_db.rollback()
    print( f'>>> Error {e}' )
finally:
    if my_db is not None: my_db.close()
    print('Database closed.')

Successfully connected to the database.

===== MENU =====
Select MENU
	 1 = Search
	 2 = Advanced Search
	 3 = Insert Data
	 4 = Delete Data
	 5 = Analytic
	 6 = Insight
	00 = Log out

Input number: 4

=====Delete product=====
product_id to delete : 99999

===== df =====

C:\Users\User\AppData\Local\Temp\ipykernel_17496\3448782966.py:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_command_delete, my_db)

Empty DataFrame
Columns: [product_id, model, name, sub_id, subcategory, current_price, raw_price, currency, discount, likes_count, is_new, brand_id, brand, codCountry]
Index: []

Confirm your delete data (Y/N):y
Successfully deleted data from the database.

===== MENU =====
Select MENU
	 1 = Search
	 2 = Advanced Search
	 3 = Insert Data
	 4 = Delete Data
	 5 = Analytic
	 6 = Insight
	00 = Log out

Input number: 3

=====Insert new product=====
	product_id = 99999
	current_price = 0
	raw_price = 0
	discount = 0
	product name = test
	model = test
	likes_count = 0
	is_new = TRUE
	brand_id = brand001
	sub_id = sub001

	Confirm your new data
		   product_id = 99999
		current_price = 0.0
		    raw_price = 0.0
		     discount = 0
		 product name = test
		        model = test
		  likes_count = 0
		       is_new = TRUE
		     brand_id = brand001
		       sub_id = sub001
		Confirm? (Y/N): y
Successfully inserted data to the database.

===== MENU =====
Select MENU
	 1 = Search
	 2 = Advanced Search
	 3 = Insert Data
	 4 = Delete Data
	 5 = Analytic
	 6 = Insight
	00 = Log out

Input number: 1

===== Search =====
Select Search
	 1 = Search by Product_Id
	 2 = Search by Model

Input number: 1
product_id: 99999

===== df =====

C:\Users\User\AppData\Local\Temp\ipykernel_17496\2290903405.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_command, my_db)

,product_id,name,model,likes_count,is_new,codCountry,brand_id,sub_id,No,brand,sub_id,subcategory
0,99999,test,test,0,TRUE,None,brand001,sub001,brand001,Fiido,sub001,Ã‰pilateur

	Make another search (Y/N)? : n

===== MENU =====
Select MENU
	 1 = Search
	 2 = Advanced Search
	 3 = Insert Data
	 4 = Delete Data
	 5 = Analytic
	 6 = Insight
	00 = Log out

Input number: 4

=====Delete product=====
product_id to delete : 99999

===== df =====

C:\Users\User\AppData\Local\Temp\ipykernel_17496\3448782966.py:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_command_delete, my_db)

,product_id,model,name,sub_id,subcategory,current_price,raw_price,currency,discount,likes_count,is_new,brand_id,brand,codCountry
0,99999,test,test,sub001,Ã‰pilateur,0.0,0.0,USD,0,0,TRUE,brand001,Fiido,None

Confirm your delete data (Y/N):y
Successfully deleted data from the database.

===== MENU =====
Select MENU
	 1 = Search
	 2 = Advanced Search
	 3 = Insert Data
	 4 = Delete Data
	 5 = Analytic
	 6 = Insight
	00 = Log out

Input number: 5

===== Analytics =====

	 1 - max likes_count
	 2 - min likes_count
	 3 - max price
	 4 - min price
	 5 - max discount
	 6 - min discount
	00 - out
	What do you want to know? : 00



===== MENU =====
Select MENU
	 1 = Search
	 2 = Advanced Search
	 3 = Insert Data
	 4 = Delete Data
	 5 = Analytic
	 6 = Insight
	00 = Log out

Input number: 5

===== Analytics =====

	 1 - max likes_count
	 2 - min likes_count
	 3 - max price
	 4 - min price
	 5 - max discount
	 6 - min discount
	00 - out
	What do you want to know? : 1


===== Top 5 highest likes =====

C:\Users\User\AppData\Local\Temp\ipykernel_17496\1197534350.py:44: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_command1, my_db)

,product_id,name,likes_count,current_price
0,1164687,Missyoung Gloss Mat Sexy Brillant Ã LÃ¨vres L...,6962,9.88
1,1173242,Correcteur de posture,1712,37.34
2,982921,Masque noir de comÃ©don,1501,10.34
3,1643183,20pcs masques jetables,1392,27.59
4,1076402,Set Nail Art,1186,48.35

	 1 - max likes_count
	 2 - min likes_count
	 3 - max price
	 4 - min price
	 5 - max discount
	 6 - min discount
	00 - out
	What do you want to know? : 00



===== MENU =====
Select MENU
	 1 = Search
	 2 = Advanced Search
	 3 = Insert Data
	 4 = Delete Data
	 5 = Analytic
	 6 = Insight
	00 = Log out

Input number: 6

===== Insight =====
	 1 = Max Likes vs Subcategory
	 2 = Like_Count and Discount Analytic
	 3 = Max Likes VS Country
	00 = Back to MENU
	Input number: 1

-------------- Max Likes vs Subcategory -------------

==== df ====

C:\Users\User\AppData\Local\Temp\ipykernel_17496\2944669013.py:98: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_command, my_db)

,sub_id,subcategory,product_id,name,model,likes_count,is_new,codCountry,brand_id,sub_id
0,sub043,Gloss Ã lÃ¨vres,1164687,Missyoung Gloss Mat Sexy Brillant Ã LÃ¨vres L...,SKU692692,6962,FALSE,,brand000,sub043
1,sub104,VÃªtements minceur,1173242,Correcteur de posture,SKU706311,1712,FALSE,"ID,MY,PH,SG,TH,VN",brand000,sub104
2,sub085,Soin visage,982921,Masque noir de comÃ©don,SKU218357,1501,FALSE,"PH,TH,VN",brand000,sub085
3,sub044,Health Care,1643183,20pcs masques jetables,SKUE62386,1392,FALSE,"ID,MY,PH,SG,TH,VN",brand000,sub044
4,sub048,Kit de l'art pour ongles,1076402,Set Nail Art,SKU418150,1186,FALSE,"PH,TH,VN",brand000,sub048

Another Insight?
	 1 = Max Likes vs Subcategory
	 2 = Like_Count and Discount Analytic
	 3 = Max Likes VS Country
	00 = Back to MENU
	Input number: 00

===== MENU =====
Select MENU
	 1 = Search
	 2 = Advanced Search
	 3 = Insert Data
	 4 = Delete Data
	 5 = Analytic
	 6 = Insight
	00 = Log out

Input number: 6

===== Insight =====
	 1 = Max Likes vs Subcategory
	 2 = Like_Count and Discount Analytic
	 3 = Max Likes VS Country
	00 = Back to MENU
	Input number: 1

-------------- Max Likes vs Subcategory -------------

==== df ====

C:\Users\User\AppData\Local\Temp\ipykernel_17496\2944669013.py:98: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_command, my_db)

,sub_id,subcategory,product_id,name,model,likes_count,is_new,codCountry,brand_id,sub_id
0,sub043,Gloss Ã lÃ¨vres,1164687,Missyoung Gloss Mat Sexy Brillant Ã LÃ¨vres L...,SKU692692,6962,FALSE,,brand000,sub043
1,sub104,VÃªtements minceur,1173242,Correcteur de posture,SKU706311,1712,FALSE,"ID,MY,PH,SG,TH,VN",brand000,sub104
2,sub085,Soin visage,982921,Masque noir de comÃ©don,SKU218357,1501,FALSE,"PH,TH,VN",brand000,sub085
3,sub044,Health Care,1643183,20pcs masques jetables,SKUE62386,1392,FALSE,"ID,MY,PH,SG,TH,VN",brand000,sub044
4,sub048,Kit de l'art pour ongles,1076402,Set Nail Art,SKU418150,1186,FALSE,"PH,TH,VN",brand000,sub048

Another Insight?
	 1 = Max Likes vs Subcategory
	 2 = Like_Count and Discount Analytic
	 3 = Max Likes VS Country
	00 = Back to MENU
	Input number: 2

	-------------- Like_Count and Discount Analytic --------------

==== df ====

C:\Users\User\AppData\Local\Temp\ipykernel_17496\2944669013.py:33: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_commands, my_db)

,product_id,name,likes_count,is_new,product_id,current_price,raw_price,currency,discount
0,1164687,Missyoung Gloss Mat Sexy Brillant Ã LÃ¨vres L...,6962,FALSE,1164687,9.88,17.18,USD,43
1,1173242,Correcteur de posture,1712,FALSE,1173242,37.34,70.06,USD,47
2,982921,Masque noir de comÃ©don,1501,FALSE,982921,10.34,18.01,USD,43
3,1643183,20pcs masques jetables,1392,FALSE,1643183,27.59,58.21,USD,53
4,1076402,Set Nail Art,1186,FALSE,1076402,48.35,77.86,USD,38
5,1337181,SÃ©rum soin des lÃ¨vres,1137,FALSE,1337181,15.51,29.45,USD,47
6,1719388,Palette de fards Ã paupiÃ¨res Highlight,4,TRUE,1719388,8.99,17.98,USD,50
7,1717053,Dispositif d'Ã©pilation permanente,2,TRUE,1717053,48.99,97.98,USD,50
8,1721702,Boules de sel de gÃ¢teau de bain,1,TRUE,1721702,7.99,15.98,USD,50

CHANGE discount recommentation

	row 0, product_id = 1164687, likes_count = 6962, is_new = FALSE, CHANGE discount 43 ---> 40
	row 1, product_id = 1173242, likes_count = 1712, is_new = FALSE, CHANGE discount 47 ---> 43
	row 2, product_id =  982921, likes_count = 1501, is_new = FALSE, CHANGE discount 43 ---> 40
	row 3, product_id = 1643183, likes_count = 1392, is_new = FALSE, CHANGE discount 53 ---> 50
	row 5, product_id = 1337181, likes_count = 1137, is_new = FALSE, CHANGE discount 47 ---> 43

	row 6, product_id = 1719388, likes_count =    4, is_new =  TRUE, CHANGE discount 50 ---> 53

Another Insight?
	 1 = Max Likes vs Subcategory
	 2 = Like_Count and Discount Analytic
	 3 = Max Likes VS Country
	00 = Back to MENU
	Input number: 3


	-------------- Max Likes VS Country -------------

==== df ====

C:\Users\User\AppData\Local\Temp\ipykernel_17496\2944669013.py:57: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_command, my_db)

,product_id,name,likes_count,codCountry
0,1164687,Missyoung Gloss Mat Sexy Brillant Ã LÃ¨vres L...,6962,
1,1173242,Correcteur de posture,1712,"ID,MY,PH,SG,TH,VN"
2,982921,Masque noir de comÃ©don,1501,"PH,TH,VN"
3,1643183,20pcs masques jetables,1392,"ID,MY,PH,SG,TH,VN"
4,1076402,Set Nail Art,1186,"PH,TH,VN"

	Which countries are not sold yet? : TH
(33,)
show ? (y/n) : y

==== df ====

C:\Users\User\AppData\Local\Temp\ipykernel_17496\2944669013.py:80: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_command, my_db)

    product_id                                               name codCountry
0       971648  220V 36W Nail Art Set UV Kit de bouts de lime ...
1      1164687  Missyoung Gloss Mat Sexy Brillant Ã  LÃ¨vres L...
2      1296354                          Kit de recourbe-cils Perm
3      1298413                       Eyeliner impermÃ©able 2 en 1
4      1306067                      Essence de coissance des cils
5      1314016                      Essence hydratante visage 24K
6      1315219        Ensemble de coupe-cheveux multifonctionnel
7      1317713   Dents blanchissant la mousse fraÃ®che de souffle
8      1333500               SÃ©rum croissant Ã  l'huile de ricin         VN
9      1333699              Essence d'hyaluronidase de vitamine C         VN
10     1337181                            SÃ©rum soin des lÃ¨vres
11     1407841            Streamer Silver Vernis Ã€ Ongles En Gel
12     1530616               OxymÃ¨tre de pouls portable Ã  pince
13     1530976         Ensemble d'eye-liner magnÃ©tique faux cils         VN
14     1530984                          Faux Ongles Nus Arrondis          SG
15     1537432                              Essence de vitamine C
16     1560377                      CrÃ¨me RÃ©paratrice D'ongles          VN
17     1584280          Rouge Ã  lÃ¨vres naturel Ã  double tÃªte
18     1584284         Fond de teint liquide hydratant respirant
19     1634735                  Huile essentielle de chanvre pur          VN
20     1635226                Rouge Ã  lÃ¨vres mat Ã  deux tÃªtes         VN
21     1650270                  Lingettes humides Ã  70% d'alcool
22     1663557              Ensemble d'outils de coupe de cheveux
23     1664135     Stylo de dÃ©sinfection de l'alcool d'ascenseur
24     1665569                    Lingettes humides Mini Barrels          VN
25     1666703      Lingettes d'alcool de stÃ©rilisation Ã  99,9%         VN
26     1666708        Tampons d'alcool bactÃ©riostatique Ã  99,9%         VN
27     1666901                       Ensemble de colle de cristal         VN
28     1667772                      Stylo vernis Ã  ongles en gel
29     1685811         Kit de lifting des sourcils semi-pernament         VN
30     1687595                           VÃ©lo Ã©lectrique pliant      SG,VN
31     1700974                     Kit de gel d'extension d'ongle
32     1704967                           Faux ongles Silver Flame         SG